<div class="login-container md-whiteframe-z1">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span>Login</span></h2>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <md-input-container class="md-block">
            <label>{{ 'username' | translate }}</label>
            <input required name="username" />
        </md-input-container>

        <md-input-container class="md-block">
            <label>{{ 'password' | translate }}</label>
            <input required name="password" type="password" />
        </md-input-container>


        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary">{{ 'login' | translate }}</md-button>
            <md-button class="md-raised md-warn">{{ 'bad_login' | translate }}</md-button>
        </section>
    </md-content>
</div>
