<div class="login-container md-whiteframe-z1">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span>Login</span></h2>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <md-input-container class="md-block">
            <label>{{ 'lastname' | translate }}</label>
            <input required name="username" />
        </md-input-container>

        <md-input-container class="md-block">
            <label>{{ 'firstname' | translate }}</label>
            <input required name="password" type="password" />
        </md-input-container>
    </md-content>
</div>
